
@{
    ViewBag.Title = "Menus";
}

<h2 class="hdr-custom">@ViewBag.Title</h2>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="thumbnail thumbnail-custom"><img src="http://via.placeholder.com/300x300" data-toggle="modal" data-target="#viewFood"/></div>
            <div class="thumbnail thumbnail-custom"><img src="http://via.placeholder.com/300x300" data-toggle="modal" data-target="#viewFood"/></div>
            <div class="thumbnail thumbnail-custom"><img src="http://via.placeholder.com/300x300" data-toggle="modal" data-target="#viewFood"/></div>
        </div>

        <div class="col-md-4">
            <div class="thumbnail thumbnail-custom"><img src="http://via.placeholder.com/300x300" data-toggle="modal" data-target="#viewFood"/></div>
            <div class="thumbnail thumbnail-custom"><img src="http://via.placeholder.com/300x300" data-toggle="modal" data-target="#viewFood"/></div>
            <div class="thumbnail thumbnail-custom"><img src="http://via.placeholder.com/300x300" data-toggle="modal" data-target="#viewFood"/></div>
        </div>
        
        <div class="col-md-4">
            <div class="thumbnail thumbnail-custom"><img src="http://via.placeholder.com/300x300" data-toggle="modal" data-target="#viewFood"/></div>
            <div class="thumbnail thumbnail-custom"><img src="http://via.placeholder.com/300x300" data-toggle="modal" data-target="#viewFood"/></div>
            <div class="thumbnail thumbnail-custom"><img src="http://via.placeholder.com/300x300" data-toggle="modal" data-target="#viewFood"/></div>
        </div>
    </div>

    <!-- modal for detailed information about the food items -->
    <div id="viewFood" class="modal fade" role="dialog">
        <div class="modal-dialog modal-custom">
            <!-- food item content -->
            <div class="modal-content">
                <div class="modal-header modal-lg">
                    <button type="button" class="close" aria-label="Close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title title-custom">Food Item Name</h4>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6"><img src="http://via.placeholder.com/300x300" /></div>
                            <div class="col-md-6 desc-custom">
                                    <i>Description of the food item here.</i>
                                <p><p>
                                    <h4 class="price"><b>Price&emsp;</b><a class="btn btn-default btn-custom" href="#" role="button">Order</a></h4>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>